<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Color It!.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C045166B1D7B16F200D968D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C04516841D7B16F400D968D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C045168F1D7B16F400D968D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
